name: Build

concurrency:
  group: build-eden-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  android:
    runs-on: ubuntu-latest
    name: "Android (Lyb)"
    env:
      TARGET: Lyb
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      CCACHE_COMPILERCHECK: content
      CCACHE_SLOPPINESS: time_macros
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Install dependencies
        run: |
          sudo rm /var/lib/man-db/auto-update
          sudo apt-get update -y
          sudo apt-get install ccache glslang-tools libvulkan-dev python3-requests -y

      - name: Clone Eden Source
        run: |
          git clone 'https://git.eden-emu.dev/eden-emu/eden.git' ./eden

      - name: Apply Android Patch
        working-directory: ./eden
        run: |
          git apply ${{ github.workspace }}/.github/patches/0001-load-system-driver-directly.patch
          echo "Android patch applied successfully."

      - name: Restore ccache
        uses: actions/cache/restore@v4
        id: restore-ccache-cache
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ runner.os }}-android-ccache-${{ env.TARGET }}-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-android-ccache-${{ env.TARGET }}-

      - name: Compile Eden Android
        run: |
          chmod +x ./eden-android.sh
          ./eden-android.sh

      - name: Save ccache
        if: ${{ github.ref_name == 'main' }}
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ steps.restore-ccache-cache.outputs.cache-primary-key }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: eden-android-${{ env.TARGET }}
          path: eden/src/android/artifacts/
