--- a/src/android/app/src/main/jni/CMakeLists.txt
+++ b/src/android/app/src/main/jni/CMakeLists.txt
@@ -13,9 +13,6 @@
 include(GNUInstallDirs)
 
 if(ARCHITECTURE arm64)
-    add_subdirectory(${CMAKE_SOURCE_DIR}/externals/libadrenotools EXCLUDE_FROM_ALL)
     add_subdirectory(${CMAKE_SOURCE_DIR}/externals/mcl EXCLUDE_FROM_ALL)
 endif()
 
@@ -131,7 +128,7 @@
     ${CMAKE_SOURCE_DIR}/src/android/app/src/main/jni/emu_window/emu_window.cpp
 )
 
-target_link_libraries(yuzu-android PRIVATE adrenotools)
+target_link_libraries(yuzu-android PRIVATE vulkan)
 
 target_link_libraries(
     yuzu-android
--- a/src/android/app/src/main/jni/native.cpp
+++ b/src/android/app/src/main/jni/native.cpp
@@ -14,9 +14,7 @@
 #include <vector>
 #include <dlfcn.h>
 
-#ifdef ARCHITECTURE_arm64
-#include <adrenotools/driver.h>
-#endif
+// #include <adrenotools/driver.h>
 
 #include <android/api-level.h>
 #include <android/native_window_jni.h>
@@ -143,30 +141,9 @@
                                                      const std::string& custom_driver_name,
                                                      const std::string& file_redirect_dir) {
 #ifdef ARCHITECTURE_arm64
-    void* handle{};
-    const char* file_redirect_dir_{};
-    int featureFlags{};
-
-    // Enable driver file redirection when renderer debugging is enabled.
-    if (Settings::values.renderer_debug && file_redirect_dir.size()) {
-        featureFlags |= ADRENOTOOLS_DRIVER_FILE_REDIRECT;
-        file_redirect_dir_ = file_redirect_dir.c_str();
-    }
-
-    // Try to load a custom driver.
-    if (custom_driver_name.size()) {
-        handle = adrenotools_open_libvulkan(
-            RTLD_NOW, featureFlags | ADRENOTOOLS_DRIVER_CUSTOM, nullptr, hook_lib_dir.c_str(),
-            custom_driver_dir.c_str(), custom_driver_name.c_str(), file_redirect_dir_, nullptr);
-    }
-
-    // Try to load the system driver.
-    if (!handle) {
-        handle = adrenotools_open_libvulkan(RTLD_NOW, featureFlags, nullptr, hook_lib_dir.c_str(),
-                                            nullptr, nullptr, file_redirect_dir_, nullptr);
-    }
-
+    void* handle{};
+    handle = dlopen("libvulkan.so", RTLD_NOW);
+    if (!handle) handle = dlopen("libvulkan.so.1", RTLD_NOW);
     m_vulkan_library = std::make_shared<Common::DynamicLibrary>(handle);
 #endif
 }
@@ -571,13 +548,9 @@
 
 jobjectArray Java_org_yuzu_yuzu_1emu_utils_GpuDriverHelper_getSystemDriverInfo(
     JNIEnv* env, jobject j_obj, jobject j_surf, jstring j_hook_lib_dir) {
-    const char* file_redirect_dir_{};
-    int featureFlags{};
-    std::string hook_lib_dir = Common::Android::GetJString(env, j_hook_lib_dir);
-    auto handle = adrenotools_open_libvulkan(RTLD_NOW, featureFlags, nullptr, hook_lib_dir.c_str(),
-                                             nullptr, nullptr, file_redirect_dir_, nullptr);
+    void* handle = dlopen("libvulkan.so", RTLD_NOW);
+    if (!handle) handle = dlopen("libvulkan.so.1", RTLD_NOW);
     auto driver_library = std::make_shared<Common::DynamicLibrary>(handle);
-    InputCommon::InputSubsystem input_subsystem;
     auto window =
         std::make_unique<EmuWindow_Android>(ANativeWindow_fromSurface(env, j_surf), driver_library);
 
@@ -604,13 +577,9 @@
 }
 
 jstring Java_org_yuzu_yuzu_1emu_utils_GpuDriverHelper_getGpuModel(JNIEnv *env, jobject j_obj, jobject j_surf, jstring j_hook_lib_dir) {
-    const char* file_redirect_dir_{};
-    int featureFlags{};
-    std::string hook_lib_dir = Common::Android::GetJString(env, j_hook_lib_dir);
-    auto handle = adrenotools_open_libvulkan(RTLD_NOW, featureFlags, nullptr, hook_lib_dir.c_str(),
-                                             nullptr, nullptr, file_redirect_dir_, nullptr);
+    void* handle = dlopen("libvulkan.so", RTLD_NOW);
+    if (!handle) handle = dlopen("libvulkan.so.1", RTLD_NOW);
     auto driver_library = std::make_shared<Common::DynamicLibrary>(handle);
-    InputCommon::InputSubsystem input_subsystem;
     auto window =
             std::make_unique<EmuWindow_Android>(ANativeWindow_fromSurface(env, j_surf), driver_library);
  
